# Include compiled output, runtime deps, resources and manifest
**/*
!out/**/*.js
!out/**/*.js.map
!node_modules/**
!resources/**
!package.json
!README.md
!CHANGELOG.md
!LICENSE

node_modules/
*.tgz
src/
__tests__/
test/
core/
dist/
openpilot-core-*.tgz
.vscodeignore
.vscode
.git
.gitignore
*.log
*.ts
*.map
